.BookSpread{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    box-sizing: border-box;
}

.BookSpread canvas {
  width: 20%;
  height: auto;
  display: block;
  
}